<body>

  <div class="containser">
    <div class="banner">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000" style= "height: 700px;">
            <%= image_tag "attack-on-titan.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px;">
            <%= image_tag "bleach.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "dragon-ball.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>

          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "gangsta.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "naruto.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "one piece.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "Vagabond.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
          <div class="carousel-item" data-bs-interval="2000" style= "height: 700px; object-fit: cover;">
            <%= image_tag "one-punch-man-season-2.jpg", style: "height: 100%; width: 100%; object-fit: cover;" %>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
